[project]
	description = Android port of RAxML
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Christian Goll (mslacken)
[access "refs/for/refs/*"]
	read = group user/Christian Goll (mslacken)
	push = group user/Christian Goll (mslacken)
	label-Code-Review = -2..+2 group user/Christian Goll (mslacken)
	label-Verified = -1..+1 group user/Christian Goll (mslacken)
	rebase = group user/Christian Goll (mslacken)
	removeReviewer = group user/Christian Goll (mslacken)
	submit = group user/Christian Goll (mslacken)
[access "refs/heads/*"]
	read = group user/Christian Goll (mslacken)
	create = group user/Christian Goll (mslacken)
	push = +force group user/Christian Goll (mslacken)
	pushMerge = group user/Christian Goll (mslacken)
[access "refs/tags/*"]
	push = group user/Christian Goll (mslacken)
	push = +force group user/Christian Goll (mslacken)
